# Memory Optimization

In [4]:
import os

os.listdir('.')

['CarPrices.csv',
 'HousePrices.csv',
 'memory.ipynb',
 'outliers.ipynb',
 'resampling.ipynb',
 'scaling.ipynb']

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/house_prices/HousePrices.csv')

In [3]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [5]:
mem_before = df.memory_usage()
mem_before

Index              128
date             36800
price            36800
bedrooms         36800
bathrooms        36800
sqft_living      36800
sqft_lot         36800
floors           36800
waterfront       36800
view             36800
condition        36800
sqft_above       36800
sqft_basement    36800
yr_built         36800
yr_renovated     36800
street           36800
city             36800
statezip         36800
country          36800
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [7]:


# Convert columns to optimal numeric dtypes
df = df.astype({
    'price': 'float32',
    'bedrooms': 'int16', 
    'bathrooms': 'float32',
    'sqft_living': 'int32',
    'sqft_lot': 'int32',
    'floors': 'int16',
    'waterfront': 'int8',
    'view': 'int8',
    'condition': 'int8',    
    'sqft_above': 'int32',
    'sqft_basement': 'int32',
    'yr_built': 'int16',
    'yr_renovated': 'int16',
})

# Categorical
df['street'] = df['street'].astype('category')
df['city'] = df['city'].astype('category')
df['statezip'] = df['statezip'].astype('category')
df['country'] = df['country'].astype('category')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float32
 2   bedrooms       4600 non-null   int16
 3   bathrooms      4600 non-null   float32
 4   sqft_living    4600 non-null   int32
 5   sqft_lot       4600 non-null   int32
 6   floors         4600 non-null   int16
 7   waterfront     4600 non-null   int8
 8   view           4600 non-null   int8
 9   condition      4600 non-null   int8
 10  sqft_above     4600 non-null   int32
 11  sqft_basement  4600 non-null   int32
 12  yr_built       4600 non-null   int16
 13  yr_renovated   4600 non-null   int16
 14  street         4600 non-null   category
 15  city           4600 non-null   category
 16  statezip       4600 non-null   category
 17  country        4600 non-null   category
dtypes: category(4), float32(2), int16(4), int32(4), int8(3), object(1)
memory usage: 384.3+ KB

In [10]:
mem_after = df.memory_usage()
mem_after

Index               128
date              36800
price             18400
bedrooms           9200
bathrooms         18400
sqft_living       18400
sqft_lot          18400
floors             9200
waterfront         4600
view               4600
condition          4600
sqft_above        18400
sqft_basement     18400
yr_built           9200
yr_renovated       9200
street           177536
city               6024
statezip           7320
country            4716
dtype: int64

In [11]:
print(f'Before: {mem_before.sum()} bytes')
print(f'After: {mem_after.sum()} bytes')
print(f'saved {100*(1 - mem_after.sum()/mem_before.sum()):.2f}% of the initial size')

Before: 662528 bytes
After: 393524 bytes
saved 40.60% of the initial size